<footer id="sticky-footer" class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © Shared Trip 2021</p>
    </div>
    <!-- /.container -->
    <div></div>
</footer>