{{!-- <section style="background-color:#F08080; padding: 1%; border-radius: 6px; width: 50%; margin: 0 auto; margin-top: 5%;">
    <p style="text-align: center; font-style: italic; font-size: 18px;"> Error Message Here... </p>
</section> --}}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Offer Trip</h1>
        <div style="padding: 5%;">
            <form action="/create" method="POST" >
                <div class="form-group">
                    <label for="startAndEndPoint">Starting Point - End Point</label>
                    <input type="text" class="form-control" id="startAndEndPoint" aria-describedby="emailHelp"
                        placeholder="Studentski grad - Pamporovo" name="startEnd">
                </div>
                <div class="form-group">
                    <label for="dateTime">Date - Time</label>
                    <input type="text" class="form-control" id="dateTime" placeholder="29 December 2021 - 19:00" name="date">
                </div>
                <div class="form-group">
                    <label for="carImage">Car Image</label>
                    <input type="text" class="form-control" id="carImage" placeholder="https://..." name="imgUrl">
                </div>
                <div class="form-group">
                    <label for="seats">Seats</label>
                    <input min="1" max="6" type="number" class="form-control" id="seats" placeholder="4..." name="seats">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Price, Car information..." name="description">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>