<div class="py-5">
    <div class="container mt-5">
        <img style="display: block; margin: auto; max-width: 800px;"
            src="https://cdn.fixrunner.com/wp-content/uploads/2018/08/fix-wordpress-error-404-page-not-found.jpg" />
        <h1 style="width: 100%; text-align: center; font-weight: bold;">404</h1>
        <h2 style="width: 100%; text-align: center; text-decoration: underline;">NOT FOUND</h2>
    </div>
</div>